$blue : #007bff;
$purple : #6f42c1;
$green : #13553C;
$dark : #32373b;
$font-size-base : 1.1rem;

$primary: $green;

$theme-colors: (
    "primary": $primary,
    "dark": $dark
);

$navbar-light-color: $dark;
$navbar-light-active-color: $primary;
$navbar-light-hover-color: #0f1012;

$border-color: #dee2e6;

$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.75;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base * 1.12;
$h6-font-size: $font-size-base;
//light bg
// #f8f9fa

$figure-caption-font-size: $font-size-base;
