$blue : #0055ff;
$dark : #32373b;

$theme-colors: (
    "primary": $blue,
    "dark": $dark
);

$navbar-light-color: $dark;
$navbar-light-active-color: $blue;
$navbar-light-hover-color: #0f1012;

$border-color: #dee2e6;

//light bg
// #f8f9fa